.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125vh;
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding: 20px;
  }
  
  .auth-form-container {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
  }
  
  .auth-form-container h1 {
    font-size: 24px;
    color: #ff3f6c;
  }
  
  .auth-form-container h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .auth-form-container p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .auth-form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .auth-form-container input,
  .auth-form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .auth-form-container .auth-options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      flex-wrap: wrap; 
  }
  
  .auth-form-container .auth-options label {
      font-size: 12px; 
      display: flex; 
      align-items: center; 
      margin-right: 10px; 
  }
  
  .auth-form-container .auth-options input[type="checkbox"] {
      transform: scale(0.8); 
      margin-right: 5px;
    }
    
    .auth-form-container .auth-options a {
      font-size: 12px;
      color: #ff3f6c;
      margin-left: auto; 
    }
  
  .auth-form-container button {
    width: 100%;
    padding: 10px;
    background-color: #ff3f6c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-form-container p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .auth-form-container p a {
    color: #ff3f6c;
  }
  
  .auth-image-container {
    display: none;
  }
  
  @media (min-width: 768px) {
    .auth-container {
      flex-direction: row;
      align-items: stretch;
    }
  
    .auth-image-container {
      display: block;
    }
  
    .auth-image-container img {
      width: 100%;
      max-width: 400px;
      height: calc(125vh - 40px);
      object-fit: cover;
      box-sizing: border-box;
    }
  }
  